<!doctype html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <title>Piyum Fernando|T-Mobile</title>
</head>

<body>
  <div class="menu_wrapper">
    <div class="menu">
      <div class="menu_link"><a href="index.html">Home<a /></div>
      <div class="menu_link"><a href="index.html#aboutme">About Me<a /></div>
      <div class="menu_link"><a href="index.html#portfolio">portfolio<a /></div>
      <div class="menu_link"><a href="index.html#resume">resume<a /></div>
      <div class="menu_link"><a href="index.html#publications">publications<a /></div>
    </div>
  </div>
  <section id="project">
    <div class="project_image_wrapper">
      <img class="project_image" src="images/tomobile_battery.jpg" />
    </div>

    <div class="project_header_wrapper">
      <h2>Human Centered Design Approach for T-Mobile Bill Payments</h2>
      <div class="keywords">
        <p>Human centered design | Behavioral Economics</p>
      </div>
      <div class="summery">
        <div class="description">

          <p>During my design fellowship at Future Cognition Collaborative 2018 in San Francisco, our team worked with T-Mobile, a leading mobile service provider in USA to redesign their late-payment collection process, and ultimately improve their
            overall bill payment customer experience. Here we incorporated a human centered design approach and conducted a series of interviews, collaborative ideation sessions and co-creation sessions with multiple stakeholders. </p>
        </div>
        <div class="block">
          <h4>Project Type</h4>
          <p>Design Strategy (Group)</p>
          <br />
          <h4>My Role</h4>
          <p>Prototyping Directional Concepts</p>
          <p>Co-conducting Interviews</p>
          <p>Co-conducting Design Sessions</p>
          <p>Synthesizing Data</p>
        </div>
        <div class="block">
          <h4>Team Members</h4>
          <p>Tiffany Eaton - Interaction Designer</p>
          <p>Karen Xong - Interaction Designer</p>
          <p>Maher Kelifi - Design Researcher</p>
          <p>Haakon Faste - Innovation Consultant</p>
          <p>David F. - Behavioral Economist</p>
        </div>
      </div>
    </div>
  </section>

  <div class="content_wrapper">
    <div class="text_wrapper">
      <h3>The Challenge</h3>
      <p class="content_summery">
        How might we make T-Mobile's late-payment collection process painless, and
        overall bill payment experience joyful and rewarding?
      </p>

      <p>T-Mobile has a bill payment problem: every month, nearly 40% of its nearly 75 million customers are late on their bill—that’s a $700 million for T-Mobile every year.
        We started from generalized brief around T-mobile's late payer problem: "What is the best way to empower T-Mobile customers to enhance their financial lives by leveraging wireless and other data to learn about, anticipate, and acquire
        products and services that meet their future financial needs?"
      </p>
    </div>

    <div class="text_wrapper">
      <h3>The Outcome</h3>
      <p class="content_summery"> <strong>Loyal-T,</strong> a new payment rewards platform that rewards customers for good financial behaviors. It leverages T-Mobile’s wireless data to provide contextual offers to customers in support of their
        goals.</p>

      <p>We shared with T-Mobile finished designs and assets to help them generate internal excitment and buy-in to launch the loyal-T platform. In addition, we delivered a comprehensive report of insights into the existing bill payment
        and late-payment collection customer experience including several other directional concepts to enhance overall bill payment experience including design solutions to force sustainable behavior changes into late payers.
      </p>
    </div>
  </div>
  <div class="content_wrapper_wide">
    <img src="images/tmobile_loyalt.jpg" style="width:100%;" />

    <div class="button_link_container">
      <div class="button_link"><a href="https://invis.io/3TNP4GRENK6" target="_blank">Try Invision Prototype<a /></div>
      <div class="button_link"><a href="https://www.dropbox.com/s/q8xb67f9yzbuc14/Loyal-T%20Strategy.pdf" target="_blank">See PDF Stratergy Deck<a /></div>
      <div class="button_link"><a href="https://vimeo.com/290586544" target="_blank">Watch Product Vision Video<a /></div>
      <!-- <div class="button_link"><a href="https://www.thewreckingcrew.co/loyalt-case-study" target="_blank">TWC Case Study<a/></div> -->
    </div>
  </div>



  <div class="content_wrapper">
    <div class="text_wrapper">
      <h3>The Process</h3>
      <p class="content_summery">We recruited late payers through Craigslist and conducted semi structured interviewes with them.
        We used several "sacrificial concepts" to seed the discussion and trigger reactions from late payers.</p>

      <p>By conducting in-person interviews with a total of 13 wireless customers including 6 extended interviews with late payers (60-90 mins) and 7 short interviews with on-time payers, we were able to generate key insights and get feedback on our
        initial concepts. These insights mainly focus
        on people’s perceptions around their finances and usage of data.</p>
    </div>
  </div>

  <!-- <div class="content_wrapper_wide">
    <img src="images/tmobile_research.jpg" style="max-width:100%;"/>
  </div> -->

  <div class="content_wrapper_wide">
    <img src="images/mobile_interviews.jpg" style="width:100%;" />
    <!-- <p class="caption">Late payer responding to sacrifical concepts during an interview</p> -->
  </div>

  <div class="content_wrapper">
    <div class="text_wrapper">
      <p class="content_summery">We realized that not all late-payers are created equal; by classifying them and giving tailored offers, T-Mobile can increase on-time payments.</p>
    </div>
  </div>

  <div class="content_wrapper_wide">
    <img src="images/mobile_Page_1.jpg" style="width:100%;" />
    <img src="images/mobile_Page_2.jpg" style="width:100%;" />
    <!-- <p class="caption">Based on interview data we idendified 4 user archetypes and oppotunity areas. (Visual Design by Karen Xong) -->
    </p>
  </div>


  <div class="content_wrapper">
    <div class="text_wrapper">

      <!-- <p class="content_summery">To understand how T-Mobile currently handles late payers, we connected with T-Mobile’s Director
              of Credit and Collections and learned that T-Mobile currently has trouble distinguishing between the different types of late payers.</p> -->

      <p class="content_summery">Based on these insights, we generated hundreds of ideas around how we might enhance customer loyalty using T-Mobile’s vast network and wireless data.</p>
    </div>
  </div>



  <div class="content_wrapper_wide">
    <img src="images/mobile_design.jpg" style="width:100%;" />
  </div>


</body>

</html>