.project-card{
  width : 30%;
  height: 300px;
  margin: 1%;
  float: left;
  padding : 20px;
  background-color: white;
  box-shadow: 2px 2px 1px lightgrey;

}

.project-card:hover{
  background-color: lightgrey;
  box-shadow: 2px 2px 1px grey;
}
