.page-title{
  text-align: center;
  padding-top: 68px;
  padding-bottom: 45px;
}

.project-name{
  display: inline-block;
}

.prompt{
  padding-bottom: 62px;
}

.postit{
  background-color: yellow;
  width: 160px;
  height: 160px;
}

#likeWishInstructions{
position:absolute;
    right: 50%;
  border: 20px;
}

.centering{
  margin: auto;
}
