
.searchBar {
  width: 200px;
  height: 50px;
  background-color: #ededed;
  border-radius: 13px;
  float: right;
  margin-right: 150px;
}

#searchIcon {
  background:url('img/search.png') center center no-repeat;
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 15px;
  margin-top: 13px;
  background-size: 25px 25px;
}

#searchRestState {
  text-align: center;
  margin-right: 13px;
  font-family: "Helvetica", Arial, sans-serif;
}

h2 {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.projectCard{
  margin: 50px;
  height: 350px;
  width: 300px;
  background-color: #EDEDED;
}

.title{
  padding: 50px;
}

.bodyText{
  margin-top: -60px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight:normal;

}
