.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVIGATION BAR CSS */
.image {
  display: inline-block;
  {/*padding-top: 15px;
  padding-bottom: 12px; */}
}

.nav-menu {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  float: right;
  padding-top: 15px;
  position: relative;
}

.go-home {
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.go-home:hover {
  //background-color: #ffe74c;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.nav-link-1 {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.nav-link-1:hover {
  background-color: #ffe74c;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.nav-link-1.w--current {
  padding-bottom: 16px;
  border-bottom-color: #000;
  color: #000;
}

.nav-link-2 {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.nav-link-2:hover {
  background-color: #ffe74c;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  cursor: pointer;
}

.nav-link-2.w--current {
  padding-bottom: 16px;
  border-bottom: 4px solid #000;
  color: #000;
}

.nav-link-3 {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.nav-link-3:hover {
  background-color: #ffe74c;
  text-decoration: none;
  cursor: pointer;
}

.nav-link-3.w--current {
  padding-bottom: 16px;
  border-bottom: 4px solid #000;
  color: #000;
}

.nav-link-4 {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.nav-link-4:hover {
  background-color: #ffe74c;
  text-decoration: none;
  cursor: pointer;
}

.nav-link-4.w--current {
  padding-bottom: 16px;
  border-bottom-color: #000;
  color: #000;
}


/* TOP IMAGE */
.overview-image-div {
  //display: none;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  overflow: hidden;
  left: 50%;
  top: 80px;
}

.overview-image-image {
  width: 480px;
}


/* THIS IS A BUNCH OF GENERIC CSS STUFF THAT SHOULD ONLY APPLY TO THE HOME AND ABOUT PAGES */

.w-container{
  margin-left:auto;
  margin-right:auto;
  max-width:940px
}

.w-container:before,
.w-container:after{
  content:" ";
  display:table;
  grid-column-start:1;
  grid-row-start:1;
  grid-column-end:2;
  grid-row-end:2
}

.w-container:after{clear:both}

.w-container

.w-row{
  margin-left:-10px;
  margin-right:-10px
}

.w-row:before,
.w-row:after{
  content:" ";
  display:table;
  grid-column-start:1;
  grid-row-start:1;
  grid-column-end:2;
  grid-row-end:2
}

.w-row:after{clear:both}

.w-row
.w-row
  {margin-left:0;
  margin-right:0
}

.w-col{
  position:relative;
  float:left;
  width:100%;
  min-height:1px;
  padding-left:10px;
  padding-right:10px
}

.w-col .w-col{
  padding-left:0;
  padding-right:0
}

.w-col-1{width:8.33333333%}

.w-col-2{width:16.66666667%}

.w-col-3{width:25%}

.w-col-4{width:33.33333333%}

.w-col-5{width:41.66666667%}

.w-col-6{width:50%}

.w-col-7{width:58.33333333%}

.w-col-8{width:66.66666667%}

.w-col-9{width:75%}

.w-col-10{width:83.33333333%}

.w-col-11{width:91.66666667%}

.w-col-12{width:100%}


@media screen and (max-width:991px){
  .w-container{max-width:728px}
  .w-hidden-main{display:inherit !important}
  .w-hidden-medium{display:none !important}
  .w-col-medium-1{width:8.33333333%}
  .w-col-medium-2{width:16.66666667%}
  .w-col-medium-3{width:25%}
  .w-col-medium-4{width:33.33333333%}
  .w-col-medium-5{width:41.66666667%}
  .w-col-medium-6{width:50%}
  .w-col-medium-7{width:58.33333333%}
  .w-col-medium-8{width:66.66666667%}
  .w-col-medium-9{width:75%}
  .w-col-medium-10{width:83.33333333%}
  .w-col-medium-11{width:91.66666667%}
  .w-col-medium-12{width:100%}

  .w-col-stack{
    width:100%;
    left:auto;
    right:auto
  }
}

@media screen and (max-width:768px){
  .w-hidden-main{display:inherit !important}
  .w-hidden-medium{display:inherit !important}
  .w-hidden-small{display:none !important}
  .w-row,
  .w-container
  .w-row{
    margin-left:0;
    margin-right:0;
    text-align:center
  }
  .w-col{width:100%; left:auto; right:auto}
  .w-col-small-1{width:8.33333333%}
  .w-col-small-2{width:16.66666667%}
  .w-col-small-3{width:25%}
  .w-col-small-4{width:33.33333333%}
  .w-col-small-5{width:41.66666667%}
  .w-col-small-6{width:50%}
  .w-col-small-7{width:58.33333333%}
  .w-col-small-8{width:66.66666667%}
  .w-col-small-9{width:75%}
  .w-col-small-10{width:83.33333333%}
  .w-col-small-11{width:91.66666667%}
  .w-col-small-12{width:100%}
}

@media screen and (max-width:479px){
  .w-container{max-width:none}
  .w-hidden-main{display:inherit !important}
  .w-hidden-medium{display:inherit !important}
  .w-hidden-small{display:inherit !important}
  .w-hidden-tiny{display:none !important}
  .w-col{width:100%}
  .w-col-tiny-1{width:8.33333333%}
  .w-col-tiny-2{width:16.66666667%}
  .w-col-tiny-3{width:25%}
  .w-col-tiny-4{width:33.33333333%}
  .w-col-tiny-5{width:41.66666667%}
  .w-col-tiny-6{width:50%}
  .w-col-tiny-7{width:58.33333333%}
  .w-col-tiny-8{width:66.66666667%}
  .w-col-tiny-9{width:75%}
  .w-col-tiny-10{width:83.33333333%}
  .w-col-tiny-11{width:91.66666667%}
  .w-col-tiny-12{width:100%}
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  color: #2d333a;
  font-size: 16px;
}

a {
  color: #44a3fb;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  color: #2d333a;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.hero-section {
  margin-top: 0px;
  padding-top: 68px;
  padding-right: 24px;
  padding-left: 24px;
  background-image: url("https://assets.website-files.com/5d6eb1364491086a348f75d3/5d6ff9681919dc8e44fc0c09_Hero-BG.png"), -webkit-gradient(linear, left top, left bottom, from(#eefff6), to(#e3f8ff));
  background-image: url("https://assets.website-files.com/5d6eb1364491086a348f75d3/5d6ff9681919dc8e44fc0c09_Hero-BG.png"), linear-gradient(180deg, #eefff6, #e3f8ff);
  background-position: 100% 50%, 0px 0px;
  background-size: auto 660px, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.logo-text {
  font-family: realistwide, sans-serif;
  font-size: 58px;
  line-height: 70px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

/*THIS IS THE HOME PAGE TOP PARAGRAPH BODY TYPE */
.intro {
  max-width: 710px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  line-height: 32px;
}

/*THIS IS THE HOME PAGE REGULAR PARAGRAPH TYPE */
.copy {
  max-width: 710px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  line-height: 28px;
}

/*THIS IS THE HOME PAGE REGULAR PARAGRAPH TYPE */
.copysmall {
  max-width: 710px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 24px;
}

.header-div {
  max-width: 531px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.preheading {
  margin-bottom: 24px;
  font-family: realistwide, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.centered-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
}

.phase-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
}

.columns-about {
  margin-bottom: 106px;
}

.modules-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.modules-illustration {
  margin-left: 0px;
  margin-right: 0px;
}

.modules-container {
  padding-top: 100px;
  padding-bottom: 56px;
}

.about-block {
  max-width: 480px;
  padding-bottom: 64px;
}

.h2-to-h1 {
  /*THIS IS IMPORTANT FOR CK HOME */
  font-size: 40px;
  line-height: 48px;
}

.h2-to-h2 {
  /*THIS IS IMPORTANT FOR CK HOME */
  font-size: 30px;
  line-height: 38px;
}

.section-basic {
  padding-right: 24px;
  padding-left: 24px;
}

.about-container {
  padding-top: 96px;
}

.about-icons {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
}

@media (max-width: 991px) {
  .modules-container {
    padding-top: 100px;
    padding-bottom: 32px;
    text-align: center;
  }

  .modules-div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .columns-about {
    margin-bottom: 64px;
  }

  .modules-div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 768px) {

  .overview-image-image {
    width: 370px;
  }

  .navbar {
    position: relative;
  }

  .hero-section {
    padding-top: 32px;
  }

  .logo-text {
    font-size: 40px;
    line-height: 48px;
  }

  .intro {
    font-size: 20px;
    line-height: 26px;
  }

  .centered-image {
    max-width: 80%;
  }

  .phase-image {
    max-width: 75%;
  }

  .modules-illustration {
    visibility: hidden;
  }

  .h2-to-h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .h2-to-h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .about-section {
    padding-right: 14px;
    padding-left: 14px;
  }

  .column {
    text-align: left; {/*was center*/}
  }

  .about-container {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
  }

  .preheading {
    text-align: center;
  }

  .centered-image {
    max-width: 80%;
  }

  .phase-image {
    max-width: 75%;
  }

  .nav-div {
    text-align: center;
  }
}
